<!-- <h2>
  Welcome to {{name}}
</h2>
<h2>
  My name is {{name}}

</h2>
<h2>
  The result of 2+2 is {{2+2}}

</h2>
<h2>{{name.substring(0,4)}}</h2>
<h2>{{name.length}}</h2>
<h2>{{name.toUpperCase()}}</h2>
<h2>{{siteUrl}}</h2> -->

<!-- <input [id]= "myId" type="text" [value]="myId"><br><br>
<input  id = "{{myId}}" type="text" value="{{myId}}"> -->

<!-- <h2 class="text-success">Success</h2>

<h2 [class] = "sucssesClass">sucssesClass</h2>

<h2 [class.text-danger] = "hasError">hasError </h2>

<h2 [ngClass]="messageClasses">The classes that's have been set true well be set in the h2 header</h2> -->

<!--
<button (click)="onClick($event)">Greet</button>
<br>
<button (click)="greeting = 'Welcome ali'">Greet</button>
{{greeting}} -->

<!-- <input type="text" #myInput />

<button (click)="logMessage(myInput.value)">copy data</button>

<h2>{{ref}}</h2> -->
<!--
<input [(ngModel)] = "username" type="text">
<br>

{{username}} -->

<!-- <h2>{{"Hello " + name}}</h2>

<button (click)="fireEvent()">Send data</button> -->

<h2>{{myname | lowercase}}</h2>
<h2>{{myname | uppercase}}</h2>
<h2>{{message | titlecase}}</h2>

<h2>{{myname | slice:3}}</h2>
<h2>{{myname | slice:3:6}}</h2>

<h2>{{person | json}}</h2>

<h2>{{5.678 | number:'1.2-3'}}</h2>
<h2>{{5.678 | number:'3.4-5'}}</h2>
<h2>{{5.678 | number:'3.1-2'}}</h2>

<h2>{{0.25 | percent}}</h2>

<h2>{{0.25 | currency}}</h2>
<h2>{{0.25 | currency:'GBP:':'code'}}</h2>

<h2>{{date | date: 'short'}}</h2>

<h2>{{date | date: 'shortDate'}}</h2>

<h2>{{date | date: 'shortTime'}}</h2>




